service cloud.firestore {
  match /databases/{database}/documents {
    match /interestEmails/{anything=**} {
      allow read, write: if true;
    }
  }
}