.card {
    margin: 0 auto;
}
.header{
    position: fixed;
    height: 50px;
    width: 100%;
    z-index: 10;
}
.header h1{
    margin-left: 5px;
    margin-right: 20px;
}
.top {
    margin: 0;
}

a {
    color: white;
}
a:hover {
    color: white;
}
a:visited {
    color: white;
}
#myCanvas {
    margin: 0 auto;
    border : 1px solid black;
    z-index: -1;
}

.menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    transform: translateY(-600px);
    margin: 0 auto;
    background-color: darkgray;
    z-index: 1;
    width: 400px;
    height: auto;
    padding: 10px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
}

.circle-yellow {
    border-radius: 50%;
    background-color: yellow;
    width: 20px;
    height: 20px;
}
.circle-green {
    border-radius: 50%;
    background-color: green;
    width: 20px;
    height: 20px;
}
/*
#gameOverMenu {
    position: absolute;
    display: flex;
    transform: translateY(-600px);
    flex-direction: column;
    margin: 0 auto;
    background-color: darkgray;
    z-index: 0;
    width: 400px;
    height: auto;
    padding: 10px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
}
*/
/*
#highScoresMenu {
    position: absolute;
    display: flex;
    transform: translateY(-600px);
    flex-direction: column;
    margin: 0 auto;
    background-color: darkgray;
    z-index: 0;
    width: 400px;
    height: auto;
    padding: 10px;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
}
*/
#overlap {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.play {
    margin: 10px auto;
}
.help {
    margin: 10px auto auto auto;
}
.content {
    margin: 0 auto;
    width: 80%;
    height: 90vh;
    position: relative;
    top: 90px;
}

.img {
    border-style: solid;
}